<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<div class="page-content">
				<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
				<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
								<h4 class="modal-title">Modal title</h4>
							</div>
							<div class="modal-body">
								 Widget settings form goes here
							</div>
							<div class="modal-footer">
								<button type="button" class="btn blue">Save changes</button>
								<button type="button" class="btn default" data-dismiss="modal">Close</button>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
				<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

				<!-- BEGIN PAGE HEADER-->
				<h3 class="page-title">
					Новый Город
				</h3>
				<div class="page-bar">
					<ul class="page-breadcrumb">
						<li>

							<%= link_to root_path do  %>
	        		<%= content_tag :i, "", :class => "fa fa-home" %>Панель Управления
							<%= content_tag :i, "", :class => "fa fa-angle-right" %>
	      			<% end %>
						</li>
						<li>
							<%= link_to '/cities' do  %>
							<%= content_tag :i, "" %>Города
							<%= content_tag :i, "", :class => "fa fa-angle-right" %>
							<% end %>
						</li>
						<li>
							<a href="#">Новый Город</a>
						</li>
					</ul>
				</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->
				<div class="row">
					<div class="col-md-12">


						<div class="portlet light">
													<div class="portlet-title">
														<div class="caption font-red-sunglo">
															<span class="caption-subject bold uppercase"> Управление Данными</span>

														</div>
													</div>
													<%= form_for(:bank, :url => {:action => 'update', :id => @bank.id }, :html => {:multipart => true}) do |f| %>
															<div class="form-body">


														<div class="form-group form-md-line-input has-success">
																<%= f.text_field :bank_reg_no, class: 'form-control', id: 'form-control_1',  placeholder: 'Введите регистрационный номер', readonly: "" %>
																<%= f.label :bank_reg_no, "Регистрационный Номер в Базе Данных ", for: 'form-control_1' %>
																<div class="form-control-focus">
																</div>
															</div>


															<div class="form-group form-md-line-input has-success">
																<%= f.text_field :bank_name, class: 'form-control', id: 'form-control_1', placeholder: 'Введите наименование города', :maxlength=>35 %>
																<%= f.label :bank_name, "Наименование Banka", for: 'form-control_1' %>
																<div class="form-control-focus">
																</div>
															</div>

															<div class="form-group form-md-line-input has-success">
																<%= f.text_field :mfo_no, class: 'form-control', id: 'form-control_1', placeholder: 'Введите наименование города', :maxlength=>35 %>
																<%= f.label :mfo_no, "MFO", for: 'form-control_1' %>
																<div class="form-control-focus">
																</div>
															</div>

															<div class="form-group form-md-line-input has-success">
																<%= f.text_field :cor_account, class: 'form-control', id: 'form-control_1', placeholder: 'Введите наименование города', :maxlength=>35 %>
																<%= f.label :cor_account, "COR", for: 'form-control_1' %>
																<div class="form-control-focus">
																</div>
															</div>

															<div class="form-group form-md-line-input has-success">
																<%= f.select :post_index_id, @indices.map {|s| [s.post_index, s.id]}, {}, { class: 'form-control', id: 'form-control_1' } %>
																<%= f.label :post_index_id, "COR", for: 'form-control_1' %>
																<div class="form-control-focus">
																</div>
															</div>








															<%= f.submit "Сохранить Запись", class: "btn btn-primary btn-right" %>
														</form>

														<% end %>
													</div>
												</div>

					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
		</div>
		<!-- END CONTENT -->
  </div>
